<% provide(:title, '首頁') %>
<meta name="keywords" content="1985行動聯盟,
<% if @sub_videos.any? %>
  <% @main_video.legislators.each do |l| -%>
    <%= l.name %>,
  <% end -%>
<% end -%>
<% if @sub_videos.any? %>
  <% @sub_videos.each do |v| -%>
    <% v.legislators.each do |l| -%>
      <%= l.name %>,
    <% end -%>
  <% end -%>
<% end -%>
國會調查兵團" />
<meta name="description" content="<%= @main_video.title %> - <%= Sanitize.fragment(@main_video.description) %>" />
<article>
    <header>
        <h1 class="title-01">國會調查兵團最新調查報告</h1>
    </header>
    <div id="main-video">
        <section>
            <% if @main_video %>
                <%= link_to image_tag(@main_video.image, {:alt => @main_video.title}), "/videos/#{@main_video.id}", {:title => @main_video.title, :class => 'img_url_l'} %>
                <header>
                    <%= link_to "<h2>#{@main_video.title}</h2>".html_safe, "/videos/#{@main_video.id}", {:title => @main_video.title} %>
                </header>
                <p class="time">
                    <time datetime="<%= @main_video.created_at.strftime('%Y-%m-%d') %>"><%= @main_video.created_at.strftime('%Y-%m-%d') %></time>
                </p>
                <p><%= ActionView::Base.full_sanitizer.sanitize(@main_video.description).first(100) %></p>
            <% end %>
        </section>
    </div>
    <div id="sub-video">
        <% @sub_videos.each do |v| %>
            <div class="s-video">
                <section>
                    <%= link_to image_tag(v.image, {:alt => v.title}), "/videos/#{v.id}", {:title => v.title, :class => 'img_url_s'} %>
                    <header>
                        <%= link_to "<h2>#{v.legislators.first.name}</h2>".html_safe, "/videos/#{v.id}", {:title => v.title} %>
                        </a>
                    </header>
                    <p class="time">
                        <time datetime="<%= v.created_at.strftime('%Y-%m-%d') %>"><%= v.created_at.strftime('%Y-%m-%d') %></time>
                    </p>
                </section>
            </div>
        <% end %>
    </div>
</article>