<article>
  <h1 class="title-02">國會調查兵團-立委清單</h1>
   	<nav>
      <ul id="sub-nav-tag">
        <li class="current"><a href="#">已有影片資料</a></li>
        <li><a href="#">尚無影片資料</a></li>
      </ul>
    </nav>
    <ul id="people-list">
      <% @legislators.each do |l| %>
        <% if l.videos.any? %>
        	<li class='has_video'>
        <% else %>
          <li class='no_video'>
        <% end %>
        <section>
          <%= link_to image_tag(l.image, {:alt => l.name}), "legislators/#{l.id}", {:title => l.name} %>
          <header>
            <%= link_to "<h2>#{l.name}</h2>".html_safe, "legislators/#{l.id}", {:title => l.name} %>
          </header>
          <p><%= l.constituency %></p>
          <p>影片數：<%= l.videos.count %></p>
          <p class="party-<%= l.party.abbreviation.to_s.downcase %> party-tag"><%= l.party.name %></p>
        </section>
      </li>
    <% end %>
  </ul>
</article>