<% provide(:title, '立委清單') %>
<% provide(:keywords, '國會調查兵團,立法委員,國民黨立委,民進黨立委,台聯立委,親民黨立委,無黨籍立委') %>
<% provide(:description, '跟國會調查兵團一起監督立委質詢！') %>
<article>
  <h1 class="title-02">國會調查兵團-立委清單</h1>
   	<nav>
      <ul id="sub-nav-tag">
        <li class="all_button current"><a href="#">所有立委</a></li>
        <li class="has_data_button"><a href="#">已有資料</a></li>
        <li class="no_data_button"><a href="#">尚無資料</a></li>
      </ul>
    </nav>
    <ul id="people-list">
      <% @legislators.each do |l| %>
        <% if l.videos.any? or l.entries.any? %>
        	<li class='has_data'>
        <% else %>
          <li class='no_data'>
        <% end %>
        <section>
          <%= link_to image_tag(l.image, {:alt => l.name}), "/legislators/#{l.id}", {:title => l.name} %>
          <header>
            <%= link_to "<h2>#{l.name}</h2>".html_safe, "/legislators/#{l.id}", {:title => l.name} %>
          </header>
          <p><%= l.constituency %></p>
          <p>影片數：<%= l.videos.count %></p>
          <p class="party-<%= l.party.abbreviation? ? l.party.abbreviation.to_s.downcase : 'null' %> party-tag"><%= l.party.name %></p>
        </section>
      </li>
    <% end %>
  </ul>
</article>
<script>
  $(function() {
    $('.all_button').click(function(){
      $('.has_data').show();
      $('.no_data').show();
      $('.all_button').addClass('current');
      $('.has_data_button').removeClass('current');
      $('.no_data_button').removeClass('current');
    });
    $('.has_data_button').click(function(){
      $('.has_data').show();
      $('.no_data').hide();
      $('.all_button').removeClass('current');
      $('.has_data_button').addClass('current');
      $('.no_data_button').removeClass('current');
    });
    $('.no_data_button').click(function(){
      $('.no_data').show();
      $('.has_data').hide();
      $('.all_button').removeClass('current');
      $('.no_data_button').addClass('current');
      $('.has_data_button').removeClass('current');
    });
  });
</script>