<% provide(:title, @video.title) %>
<meta name="keywords" content="
  <% @video.legislators.each do |l| %>
    <%= l.name -%>,
  <% end %>
國會調查兵團,1985行動聯盟" />
<meta name="description" content="<%= @video.title %> - <%= Sanitize.fragment(@video.description) %>" />
<article>
  <% @video.legislators.each do |l| %>
    <div id="single-info" class="s2">
      <%= image_tag l.image, {:alt => l.name, :class => "single-img-2"} %>
      <header>
        <%= link_to "<h1>#{l.name}</h1>".html_safe, "/legislators/#{l.id}", {:title => l.name} %>
      </header>
      <p class="party-<%= l.party.abbreviation? ? l.party.abbreviation.to_s.downcase : 'null' %> party-tag">
        <%= l.party.name %>
      </p>
      <p class="single-no">
        <em>
          第8屆立法委員
        </em>
        <span class="vote-group">
          （<%= l.party.name %> / <%= l.constituency %>）
        </span>
      </p>
      <p class="video-count">
        影片數：<%= l.videos.count %>
      </p>
    </div>
  <% end %>
  <div id="single-video-show">
    <section>
      <iframe src="<%= "http://www.youtube.com/embed/" + @video.url[32..-1] %>" frameborder="0" allowfullscreen class="video-play">
      </iframe>
      <div id="video-txt-block">
        <header>
          <h2>
            <%= @video.title %>
          </h2>
        </header>
        <p class="time">
        <time datetime="<%= @video.created_at.strftime('%Y-%m-%d') %>"><%= @video.created_at.strftime('%Y-%m-%d') %></time>
        </p>
        <div class="video-txt">
          <%= @video.description.try(:html_safe) %>
        </div>
      </div>
    </section>
  </div>
  <section>
    <div class="title-area">
      <h3 class="title-03">
        其他影片
      </h3>
      <nav>
        <ul class="more-link">
          <li>
            <%= link_to '更多影片', "/legislators/#{@video.legislators.first.id}" %>
          </li>
          <li>
            <a href="/legislators">
              看其他立委
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <aside>
      <ul id="other-video-list">
        <% @video.legislators.first.videos.each do |v| %>
         <li>
            <section>
              <%= link_to image_tag(v.image, {:alt => v.title}), "/videos/#{v.id}", {:title => v.title, :class => 'img_url_s'} %>
              <p class="time">
                <time datetime="<%= v.created_at.strftime('%Y-%m-%d') %>"><%= v.created_at.strftime('%Y-%m-%d') %></time>
              </p>
              <header>
                <%= link_to "<h3>#{v.title}</h3>".html_safe, "/videos/#{v.id}", {:title => v.title} %>
              </header>
            </section>
          </li>
        <% end %>
      </ul>
    </aside>
  </section>
  <section>
    <h3 class="title-03">
      相關連結
    </h3>
    <ul id="other-link-list">
      <% @video.legislators.first.entries.each do |e| %>
        <li>
          <% if e.category.try(:name) == '兵團評論' %>
            <div class="news-tag our-comment">
          <% elsif e.category.try(:name) == '媒體新聞' %>
            <div class="news-tag news-media">
          <% else %>
            <div class="news-tag">
          <% end %>
            <%= e.category.try(:name) %>
          </div>
          <%= link_to e.title, "/entries/#{e.id}", {:title => e.title} %>
        </li>
      <% end %>
    </ul>
  </section>
</article>