<% provide(:title, @legislator.name) %>
<article>
  <div id="single-info">
    <%= image_tag @legislator.image, {:alt => @legislator.name, :class => 'single-img'} %>
    <header>
      <h1>
        <%= @legislator.name %>
      </h1>
    </header>
    <p class="party-<%= l.party.abbreviation? ? l.party.abbreviation.to_s.downcase : 'null' %> party-tag">
      <%= @legislator.party.name %>
    </p>
    <p class="single-no">
      <em>
        第8屆立法委員
      </em>
      <span class="vote-group">
        （<%= @legislator.party.name %> / <%= @legislator.constituency %>）
      </span>
    </p>
    <p class="single-no">
      <%= @legislator.description %>
    </p>
    <p class="video-count">
      影片數：<%= @legislator.videos.count %>
    </p>
  </div>
  <h3 class="title-03">
    其他影片
  </h3>
  <ul id="single-video-list">
    <% @legislator.videos.each do |v| %>
      <li>
        <section>
          <%= link_to image_tag(v.image, {:alt => v.title}), "/videos/#{v.id}", {:title => v.title} %>
          <p class="time">
            <time datetime="<%= v.created_at.strftime('%Y-%m-%d') %>"><%= v.created_at.strftime('%Y-%m-%d') %></time>
          </p>
          <header>
            <%= link_to "<h2>#{v.title}</h2>".html_safe, "/videos/#{v.id}", {:title => v.title} %>
          </header>
        </section>
      </li>
    <% end %>
  </ul>
  <section>
    <h3 class="title-03">
      相關連結
    </h3>
    <ul id="other-link-list">
      <% @legislator.entries.each do |e| %>
      <li>
        <% if e.category.try(:name) == '兵團評論' %>
          <div class="news-tag our-comment">
        <% elsif e.category.try(:name) == '媒體新聞' %>
          <div class="news-tag news-media">
        <% else %>
          <div class="news-tag">
        <% end %>
          <%= e.category.try(:name) %>
        </div>
        <%= link_to e.title, "/entries/#{e.id}", {:title => e.title} %>
      </li>
      <% end %>
    </ul>
  </section>
</article>