<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @party.image %>
</p>

<%= link_to 'Edit', edit_admin_party_path(@party) %> |
<%= link_to 'Back', admin_parties_path %>
