<table width="100%" class="table-show">
  <thead>
    <tr>
      <th width="5%">序號</th>
      <th width="24%">新聞標題</th>
      <th width="10%">類型</th>
      <th width="11%">建檔日期</th>
      <th width="40%">原始來源連結</th>
      <th width="10%">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr class=<%= cycle("", "even") %>>
        <td class="center"><%= entry.id %></td>
        <td><%= entry.title %></td>
        <td class="center"><%= entry.category.try(:name) %></td>
        <td class="center"><%= entry.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= entry.url %></td>
        <td class="center"><%= link_to '細節', [:admin, entry] %><br />
        <%= link_to '修改', edit_admin_entry_path(entry) %><br />
        <%= link_to '刪除', [:admin, entry], method: :delete, data: { confirm: '確定刪除嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增新聞', new_admin_entry_path %>