<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description.try(:html_safe) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @entry.url %>
</p>

<%= link_to 'Edit', edit_admin_entry_path(@entry) %> |
<%= link_to 'Back', admin_entries_path %>
