<h1>Listing legislators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Party</th>
      <th>Description</th>
      <th>Constituency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legislators.each do |legislator| %>
      <tr>
        <td><%= legislator.name %></td>
        <td><%= legislator.party.name %></td>
        <td><%= legislator.description %></td>
        <td><%= legislator.constituency %></td>
        <td><%= link_to 'Show', [:admin, legislator] %></td>
        <td><%= link_to 'Edit', edit_admin_legislator_path(legislator) %></td>
        <td><%= link_to 'Destroy', [:admin, legislator], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legislator', new_admin_legislator_path %>
