<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @legislator.name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @legislator.party_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @legislator.description %>
</p>

<p>
  <strong>Constituency:</strong>
  <%= @legislator.constituency %>
</p>

<%= link_to 'Edit', edit_admin_legislator_path(@legislator) %> |
<%= link_to 'Back', admin_legislators_path %>
