<%= form_for([:admin, @video]) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table width="100%" class="table-edit">
    <tr>
      <th width="20%">建檔日期</th>
      <td width="80%">2010-10-10 24:59:59</td>
    </tr>
    <tr>
      <th>立委姓名</th>
      <td><%= f.select :legislator_ids, Legislator.all.collect { |l| [ l.name, l.id ] }, {}, {:multiple => true, :class => 'long-input'} %></td>
    </tr>
    <tr>
      <th width="20%">影片標題</th>
      <td><%= f.text_field :title , :id => "textfield", :class => "long-input" %></td>
    </tr>
    <tr>
      <th>影片連結</th>
      <td><%= f.text_field :url , :id => "textfield2" , :class => "long-input" %></td>
    </tr>
    <tr>
      <th>影片縮圖</th>
      <td><%= image_tag @video.image %></td>
    </tr>
    <tr>
      <th>簡介文字</th>
      <td><%= f.text_area :description , :id => "textfield3", :class => "long-input"%></td>
    </tr>
  </table>
  <p class="table-btn">
    <input type="reset" name="button2" id="button2" value="取消">
    <%= f.submit "確認儲存" , :class => "btn-here" %>
  </p>
<% end %>
<script>
  $(function() {
    $('#textfield3').editable({
      inlineMode: false, 
      alwaysBlank: true, 
      imageUploadURL: '/admin/upload', 
      imageUploadParams: {authenticity_token: AUTH_TOKEN}});
    $('#video_legislator_ids').chosen({'search_contains': true});
  });
</script>
