<h1>Listing videos</h1>

<table width="100%" class="table-show">
  <thead>
    <tr>
        <th width="5%">序號</th>
        <th width="24%">影片標題 / 影片連結/影片圖檔</th>
        <th width="8%">建檔日期</th>
        <th width="57%">簡介文字</th>
        <th width="6%">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr class=<%= cycle("", "even") %>>
        <td class="center"><%= video.id %></td>
        <td><%= video.title %><br>
        <%= video.url %></td>
        <td class="center"><%= video.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= video.description %></td>
        <td><%= link_to 'Show', [:admin, video] %><br>
        <%= link_to 'Edit', edit_admin_video_path(video) %><br>
        <%= link_to 'Destroy', [:admin, video], method: :delete, data: { confirm: '確定刪除嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_admin_video_path %>
