<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>控制台</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="/froala/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/froala/css/froala_editor.min.css" rel="stylesheet" type="text/css">
    <script src="/froala/js/froala_editor.min.js"></script>
    <%= stylesheet_link_tag 'admin.css', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="admin_block">
      <ul id="funcion-bar">
        <li><%= link_to "立委影片管理", admin_videos_path %></li>
        <li><%= link_to "新增影片", new_admin_video_path %></li>
        <li><%= link_to "立委新聞管理", admin_entries_path %></li>
        <li><%= link_to "新增新聞", new_admin_entry_path %></li>
        <li><%= link_to "登出", destroy_user_session_path, :method => :delete %></li>
      </ul>
      <div id="function-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>